<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<button type="button" class="btn btn-warning" id="btn-refresh"
        onclick="loadlistusers();">Reload data</button>
<br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID User</th>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Umur</th>
                <th>Gender</th>
                <th>Sandi</th>
                <th>EditBy</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usl : ${userlist}">
                <td th:text="${usl.iduser}"></td>
                <td th:text="${usl.nama}"></td>
                <td th:text="${usl.alamat}"></td>
                <td th:text="${usl.umur}"></td>
                <td th:text="${usl.gender==true?'Pria':'Wanita'}"></td>
                <td th:text="${usl.sandi}"></td>
                <td th:text="${usl.editby}"></td>
                <td>
                    <button type="button" class="btn btn-warning"
                    th:href="'/usersformedit/' + ${usl.iduser}"
                    onclick="editusers(this)"> Edit</button>

                    <button type="button" class="btn btn-danger"
                            th:href="'/usersformdelete/' + ${usl.iduser}"
                            onclick="editusers(this)"> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</body>
<script>
function editusers(d){
        var x = d.getAttribute("href");
        $.ajax({
        url :x,
        type : 'get',
        dataType : 'html',
        success : function(result){
            $('#usersList').html(result);
        }
    });
}
</script>
</html>