<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<button type="button" class="btn btn-warning" id="btn-refresh"
        onclick="loadlistsupplier();">Reload data</button>
<br>
    <table id="tblsupplier" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID Supplier</th>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Email</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="spl : ${supplierlist}">
                <td th:text="${spl.idsupplier}"></td>
                <td th:text="${spl.nama}"></td>
                <td th:text="${spl.alamat}"></td>
                <td th:text="${spl.email}"></td>
                <td>
                    <button type="button" class="btn btn-warning"
                    th:href="'/supplierformedit/' + ${spl.idsupplier}"
                    onclick="editsupplier(this)"> Edit</button>

                    <button type="button" class="btn btn-danger"
                            th:href="'/supplierformdelete/' + ${spl.idsupplier}"
                            onclick="editsupplier(this)"> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</body>
<script>

    function editsupplier(d){
        var x = d.getAttribute("href");
        $.ajax({
        url :x,
        type : 'get',
        dataType : 'html',
        success : function(result){
            $('#supplierList').html(result);
        }
    });
}
</script>
</html>