<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID Product</th>
        <th>Nama</th>
        <th>Brand</th>
        <th>Madein</th>
        <th>Price</th>
        <th>Supplier</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="prl : ${insupprolist}">
        <td th:text="${prl.idproduct}"></td>
        <td th:text="${prl.namaproduct}"></td>
        <td th:text="${prl.brand}"></td>
        <td th:text="${prl.madein}"></td>
        <td th:text="${#numbers.formatDecimal(prl.price, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        <td th:text="${prl.namasupplier}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>