* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #F90;
}

#wrapper {
	width: 800px;
	margin: auto;
}

header {
	height: 100px;
	background-color: #f36;
	text-align: center;
	color: #CCC;
	font-family: Arial, Helvetica, sans-serif;
}

header h1 {
	line-height: 100px;
}

#conten {
	overflow: hidden;
	background-color: #FFF;

}

	#conten #conten-left {
		float: left;
		width: 350px;
		padding: 20px;
		text-align: justify;
	}

	#conten #conten-right {
		float: right;
		width: 350px;
		padding: 20px;
		text-align: justify;
	}

footer {
	height: 50px;
	background-color: #F0F;
	text-align: center;
	color: #FFF;
}

footer p {
	line-height: 50px;
}