<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>supplier edit</title>
</head>
<body>
<form id="dataeditproduct" action="#" th:object="${productbyid}" method="post">
    <input type="hidden" name="idproduct" th:field="*{idproduct}">
    <table>

        <tr>
            <td>Nama product</td>
            <td><input type="text" name="nama" th:field="*{nama}"></td>
        </tr>
        <tr>
            <td>Brand</td>
            <td><input type="text" name="brand" th:field="*{brand}"></td>
        </tr>
        <tr>
            <td>MadeIn</td>
            <td><input type="text" name="madein" th:field="*{madein}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text"  th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Supplier</td>
            <td>
                <select name="idsupplier" th:field="*{idsupplier}">
                    <option th:value="*{idsupplier}" >-- null --</option>
                    <option th:each="sp : ${listsplr}" th:value="${sp.idsupplier}" th:text="${sp.nama}"></option>
                </select>
            </td>
        </tr>
    </table>
    <button type="submit">Simpan</button>
</form>
</body>
<script>
    $('#dataeditproduct').submit(function() {
        formData = $('#dataeditproduct').serialize();//melakukan serialisasi objek
            $.ajax({
                url :'/productsave',
                type : 'POST',
                data : formData,
                success : function(result){
                loadlistproduct();
                }
            });
        return false;
    });


</script>
</html>