<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tambah product</title>
</head>
<body>
    <form id="datanewproduct" action="#"  method="post">
        <table>
            <tr>
                <td>Nama supplier</td>
                <td><input type="text" name="nama" ></td>
            </tr>
            <tr>
                <td>Brand</td>
                <td><input type="text" name="brand"></td>
            </tr>
            <tr>
                <td>Made In</td>
                <td><input type="text" name="madein"></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" name="price"></td>
            </tr>
            <tr>
                <td>Supplier</td>
                <td>
                    <select name="idsupplier">
                        <option th:each="sp : ${listsplr}" th:value="${sp.idsupplier}" th:text="${sp.nama}"></option>
                    </select>
                </td>
            </tr>
        </table>
        <button type="submit">Simpan</button>
    </form>

</body>
<script>

    $('#datanewproduct').submit(function() {
        formData = $('#datanewproduct').serialize();//melakukan serialisasi objek
        $.ajax({
        url :'/productsave',
        type : 'POST',
        data : formData,
        success : function(result){
            loadlistproduct();
            }
        });
        return false;
    });
</script>
</html>