<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<button type="button" class="btn btn-warning" id="btn-refresh"
        onclick="loadlistproduct();">Reload data</button>
<br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID Product</th>
                <th>Nama</th>
                <th>Brand</th>
                <th>Madein</th>
                <th>Price</th>
                <th>Supplier</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="prl : ${productlist}">
                <td th:text="${prl.idproduct}"></td>
                <td th:text="${prl.namaproduct}"></td>
                <td th:text="${prl.brand}"></td>
                <td th:text="${prl.madein}"></td>
                <td th:text="${#numbers.formatDecimal(prl.price, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                <td th:text="${prl.namasupplier}"></td>
                <td>
                    <button type="button" class="btn btn-warning"
                    th:href="'/productformedit/' + ${prl.idproduct}"
                    onclick="editproduct(this)"> Edit</button>

                  <!--  <button type="button" class="btn btn-danger"
                            th:href="'/usersformdelete/' + ${usl.iduser}"
                            onclick="editusers(this)"> Delete</button>-->
                </td>
            </tr>
        </tbody>
    </table>

</body>
<script>
function editproduct(d){
        var x = d.getAttribute("href");
        $.ajax({
        url :x,
        type : 'get',
        dataType : 'html',
        success : function(result){
            $('#productList').html(result);
        }
    });
}
</script>
</html>